/CatalogoCursos/catalogoCursos/nbproject/private/
/CatalogoCursos/catalogoCursos/build/
/CatalogoLibros/catalogoLibros/target/
/CatalogoLibros/catalogoLibros/nbproject/private/
/CatalogoLibros/catalogoLibros/build/
